.main-grid {
    font-family: 'Roboto', sans-serif;
}

/* Section 1 */

#header-left {
    text-align: left;
}

.header-phone-number {
    font-weight: 600;
    font-size: 36px;
    color: #386C9F;

    padding-left: 10px;
    margin: 60px 0 0;
}

#title {
    font-weight: 600;
    font-size: 64px;
    color: #0076BE;

    margin: 50px 0;
}

#header-right {
    font-weight: 600;
    font-size: 14px;
    color: #0076BE;
}

.header-below-car-item {
    display: inline;
}

#header-below-car-icon {
    padding: 5px 0;
}

.header-below-car p {
    padding-right: 25px;
    padding-left: 5px;
}

/* Navigation */

#navigation {
    background-color: #0076BE;
    color: white;
}

.nav-container {
    width: 1863px;
    margin: auto;
}

.nav-item {
    font-weight: 700;
    font-size: 20px;
    float: left;

    display: inline;
    padding: 10px 15px;
    margin: 5px;
}

#nav-icon {
    padding: 5px 0;
}

#nav-right {
    float: right;
}

#active-item {
    color: #ED4744;
}

/* Section 3 */

#main-content {
    background-color: #BBCEE3;
    color: #386C9F;
}

.insurance-options-title {
    font-weight: 600;
    font-size: 48px;

    margin: 48px 0 20px 0;
}

.insurance-option-div {
    background-color: #FFFFFF;
    border: 2px solid #386C9F;

    width: 95%;
    margin: 90px auto 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    z-index: 1;
    padding-left: 15px;
    margin: 0;

    font-size: 16px;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-left: 2px solid #386C9F;
    border-bottom: 2px solid #386C9F;
    border-right: 2px solid #386C9F;
}

#top-option {
    margin: 0 auto;
}

#bottom-option {
    margin: 90px auto;
}

.insurance-option-header {
    font-weight: 400;
    font-size: 24px;

    margin: 0;
}

.insurance-option-description {
    font-weight: 400;
    font-size: 14px;

    margin: 0;
}

.insurance-options-button {
    font-weight: 600;
    font-size: 36px;

    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);

    background-color: #FFFFFF;
    color: #386C9F;

    width: 95%;
    padding: 5px 0;
    margin: 5px 0;
}

.insurance-options-button:active {
    box-shadow: none;
}

#tina-image-div {
    text-align: right;
}

#tina-image {
    padding-top: 136px;
    vertical-align: bottom;
}

/* Section 4 */

.footer-list-div {
    text-align: left;
    color: #FFFFFF;
}

.footer-list-div ul {
    list-style-type: none;
}

.footer-list-header {
    font-size: 18px;
    padding: 5px 0;
}

.footer-list-content {
    font-size: 14px;
    padding: 5px 0;
}

/* Section 5 */

.footer-social-links-nav-container {
    width: 1200px;
    margin: auto;
}

#footer-social-nav-left {
    float: left;
    margin: 15px 0;

    font-size: 12px;
}

#footer-social-nav-right {
    float: right;
    margin: 12px 0;
    padding: 0 20px;

    font-size: 18px;
    color: #FFFFFF;

    border-left: 1px solid #9a9b9c;
}